<h1> Blog Showpage </h1>
<p>LOGGED IN AS:<%#= @current_user.name %></p>

<br><br>
<p> Author: <%= @blog.user_id %> </p>
<br><br>

<p> Title: <%= @blog.title %> </p>
<br>
<p> Body: <%= @blog.body %> </p>
<br>
<p> Date: <%= @blog.date %> </p>
<br>
<p> Likes: <%= @blog.likes %> </p>

<br><br>