<h1>Meetups Index </h1>


<%= button_to "Make a New Meetup! 👯💫", new_meetup_path, method: :get %>
<br><br><br>

<% @meetups.each do |m| %>
<li>
<%= link_to m.purpose, meetup_path(m) %> | <%= m.time_to_ampm(m.time) %>  
<%= button_to "Edit Meetup💫",     edit_meetup_path(m), method: :get     %>
<%= button_to "Cancel Meetup  :(", meetup_path(m), method: :delete    %><br>
</li>
<% end %>

<br><br>
<%= button_to "Make a New Meetup! 👯💫", new_meetup_path, method: :get %>


<br><br><br><br>
