<h1> Log In </h1>


<% if flash[:message]%>

      <p style="color:red" > <%= flash[:message] %> </p>

<% end %>




<%= form_tag "/login" do  %>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= submit_tag "Log in!" %>
<% end %>
