<h1> New User </h1>

<%= form_for @user do |f| %>
<br>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :age %>
<%= f.number_field :age %>
<br>
<%= f.label :email %>
<%= f.text_field :email %>
<br>
<%= f.label :phone_number %>
<%= f.number_field :phone_number %>
<br>
<%= f.label :borough %>
<%= f.text_field :borough %>
<br>
<%= f.submit %>
<% end %>