<h1> New User </h1>


<% if flash[:user_errors]%>
<%    flash[:user_errors].each do |u_er| %>

      <p style="color:red" > <%= u_er %> </p>

      <% end %>
<% end %>




<%= form_for @user do |f| %>
<br>
<%= f.label :username %>
<%= f.text_field :name %>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation%>
<br>
<%= f.label :age %>
<%= f.number_field :age %>
<br>
<%= f.label :email %>
<%= f.text_field :email %>
<br>
<%= f.label :phone_number %>
<%= f.number_field :phone_number %>
<br>
<%= f.label :borough %>
<%= f.text_field :borough %>
<br>
<%= f.submit %>
<% end %>