<h1> User Bio </h1>

<p> Name: <%= @user.name %> </p>
<p> Age: <%= @user.age %> </p>
<p> Email: <%= @user.email %> </p>
<p> Borough: <%= @user.borough %> </p>
<p> Phone Number: <%= @user.phone_number %> </p>



<p> Meetups: <% @user.locations.each do |location| %> </p>
<p>Location: <%= link_to location.name %>  | Address:  <%= location.address %>  |  Description: <%= location.description %></p>
<%end %>


<h1> Meeting Purpose </h1>
<p> <% @user.meetups.each do |meetup| %></p>
<p>Purpose: <%= meetup.purpose%> | Time: <%= meetup.time_to_ampm(meetup.time) %></p>
<%end %>

